* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: gray;
    font-family: sans-serif;
    font-size: 1.5rem;
}

.grid_item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #51748f;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    border: solid 1px rgb(255, 255, 255);
}

.grid_item:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}

.grid_container {
    
}
